{% extends 'base.html.twig' %}

{% block title %}Informations techniques{% endblock %}

{% block body %}
<main class="infotech">
    <h1 class="heading-2 text-center mt-3">Informations techniques</h1><br>
                <p class="heading-text mb-5" >Pour assurer la fiabilité de vos structures en plaques de plâtre,
         voici quelques informations techniques conformes aux normes de ferraillage en vigueur. Classées par catégories,
         ces données vous aideront à garantir la solidité et la durabilité de votre structure.</p><br>
    <div class="bg-gris my-3 p-3" id="div-table">                    
        <div class=" mb-4">
                <h2 class="structure-subtitle px-4 py-4"><em>Plafond</em></h2>
                <p class="heading-text mb-5">En fonction de votre entraxe (50 ou 60 cm) et des points d'accroche disponibles, choisissez une ossature adaptée pour respecter la portée maximale autorisée. Le tableau ci-dessous vous guide dans votre choix.</p><br>     
        
            <div id="card-table" class="card col-xl-12 col-md-12 col-sm-12 d-flex justify-content-center mb-5 py-4 px-3">
                <table class="tabplaf" >  
                    <thead>
                    <tr class="tr-center">
                        <th colspan="10" width="54%"> PORTEE MAXI DES OSSATURES (en mètre)</th>
                    </tr>
                    <tr class="tr-center">
                        <td colspan="10" width="60%"><strong> PLAFOND</strong></td>
                    </tr>
                    <tr class="tr-center">
                        <th colspan="2" width="18%"><strong> Plaque</strong></th>
                        <td colspan="2" width="15%">1 BA 13</td>
                        <td colspan="2" width="15%">1 BA 15</td>
                        <td colspan="2" width="15%">1 BA18</td>
                        <td colspan="2" width="15%">2 BA13</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-center">
                        <td colspan="2" width="18%"><strong> entraxe (cm)</strong></td>
                        <td width=" 10%">60</td>
                        <td width=" 10%">50</td>
                        <td width=" 10%">60</td>
                        <td width=" 10%">50</td>
                        <td width=" 10%">60</td>
                        <td width=" 10%">50</td>
                        <td width=" 10%">60</td>
                        <td width=" 10%">50</td>
                    </tr>
                    <tr class="tr-center">
                        <td colspan="2" width="99"><strong> Fourrure</strong></td>
                        <td width=" 10%">1,20</td>
                        <td width=" 10%">1,25</td>
                        <td width=" 10%">1,15</td>
                        <td width=" 10%">1,20</td>
                        <td width=" 10%">1,15</td>
                        <td width=" 10%">1,20</td>
                        <td width=" 10%">1,10</td>
                        <td width=" 10%">1,15</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M48-35</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">2,00</td>
                        <td width=" 10%">2,20</td>
                        <td width=" 10%">1,95</td>
                        <td width=" 10%">2,15</td>
                        <td width=" 10%">1,90</td>
                        <td width=" 10%">2,10</td>
                        <td width=" 10%">1,80</td>
                        <td width=" 10%">2,00</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M48-35</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">2,40</td>
                        <td width=" 10%">2,60</td>
                        <td width=" 10%">2,30</td>
                        <td width=" 10%">2,55</td>
                        <td width=" 10%">2,25</td>
                        <td width=" 10%">2,45</td>
                        <td width=" 10%">2,15</td>
                        <td width=" 10%">2,35</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M48-50</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">2,15</td>
                        <td width=" 10%">2,35</td>
                        <td width=" 10%">2,05</td>
                        <td width=" 10%">2,25</td>
                        <td width=" 10%">2,00</td>
                        <td width=" 10%">2,20</td>
                        <td width=" 10%">1,95</td>
                        <td width=" 10%">2,10</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M48-50</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">2,55</td>
                        <td width=" 10%">2,80</td>
                        <td width=" 10%">2,45</td>
                        <td width=" 10%">2,71</td>
                        <td width=" 10%">2,40</td>
                        <td width=" 10%">2,65</td>
                        <td width=" 10%">2,30</td>
                        <td width=" 10%">2,50</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M70-35</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">2,50</td>
                        <td width=" 10%">2,75</td>
                        <td width=" 10%">2,45</td>
                        <td width=" 10%">2,65</td>
                        <td width=" 10%">2,40</td>
                        <td width=" 10%">2,60</td>
                        <td width=" 10%">2,25</td>
                        <td width=" 10%">2,50</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M70-35</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">3,00</td>
                        <td width=" 10%">3,30</td>
                        <td width=" 10%">2,90</td>
                        <td width=" 10%">3,20</td>
                        <td width=" 10%">2,85</td>
                        <td width=" 10%">3,10</td>
                        <td width=" 10%">2,70</td>
                        <td width=" 10%">2,95</td>                   
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M70-50</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">2,65</td>
                        <td width=" 10%">2,90</td>
                        <td width=" 10%">2,60</td>
                        <td width=" 10%">2,85</td>
                        <td width=" 10%">2,50</td>
                        <td width=" 10%">2,75</td>
                        <td width=" 10%">2,40</td>
                        <td width=" 10%">2,65</td>                      
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M70-50</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">3,15</td>
                        <td width=" 10%">3,45</td>
                        <td width=" 10%">3,10</td>
                        <td width=" 10%">3,40</td>
                        <td width=" 10%">3,00</td>
                        <td width=" 10%">3,30</td>
                        <td width=" 10%">2,85</td>
                        <td width=" 10%">3,15</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M90-35</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">2,90</td>
                        <td width=" 10%">3,20</td>
                        <td width=" 10%">2,85</td>
                        <td width=" 10%">3,10</td>
                        <td width=" 10%">2,75</td>
                        <td width=" 10%">3,00</td>
                        <td width=" 10%">2,65</td>
                        <td width=" 10%">2,90</td>                   
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M90-35</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">3,45</td>
                        <td width=" 10%">3,80</td>
                        <td width=" 10%">3,35</td>
                        <td width=" 10%">3,70</td>
                        <td width=" 10%">3,30</td>
                        <td width=" 10%">3,60</td>
                        <td width=" 10%">3,15</td>
                        <td width=" 10%">3,45</td>
                    </rt>
                    <tr class="tr-center">
                        <td width="15%"><strong> M90-50</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">3,05</td>
                        <td width=" 10%">3,35</td>
                        <td width=" 10%">3,00</td>
                        <td width=" 10%">3,25</td>
                        <td width=" 10%">2,90</td>
                        <td width=" 10%">3,20</td>
                        <td width=" 10%">2,80</td>
                        <td width=" 10%">3,05</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M90-50</strong></td>
                        <td width="5%">] [</td>
                        <td width=" 10%">3,65</td>
                        <td width=" 10%">4,00</td>
                        <td width=" 10%">3,55</td>
                        <td width=" 10%">3,90</td>
                        <td width=" 10%">3,45</td>
                        <td width=" 10%">3,80</td>
                        <td width=" 10%">3,30</td>
                        <td width=" 10%">3,65</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M100-50</strong></td>
                        <td width="5%">]</td>
                        <td width=" 10%">3,25</td>
                        <td width=" 10%">3,60</td>
                        <td width=" 10%">3,15</td>
                        <td width=" 10%">3,45</td>
                        <td width=" 10%">3,10</td>
                        <td width=" 10%">3,40</td>
                        <td width=" 10%">2,95</td>
                        <td width=" 10%">3,25</td>
                    </tr>
                    <tr class="tr-center">
                        <td width="15%"><strong> M100-50</strong></td>
                        <td width="5%"> ] [</td>
                        <td width=" 10%">3,90</td>
                        <td width=" 10%">4,25</td>
                        <td width=" 10%">3,75</td>
                        <td width=" 10%">4,15</td>
                        <td width=" 10%">3,70</td>
                        <td width=" 10%">4,05</td>
                        <td width=" 10%">3,50</td>
                        <td width=" 10%">3,85</td>
                    </tr>
                    </tbody>
                </table><br>
                <p><strong>Notation :</strong> "]" = montant simple, "][" = montants accolés.</p>
            </div>
        </div> 
    </div>
    <div class="bg-gris my-3 p-3" id="div-table">                    
        <div class=" mb-4">
                <h2 class="structure-subtitle px-4 py-4"><em>Doublage</em></h2>
                <p class="heading-text mb-5">Le tableau ci-dessous vous donne la distance maximum entre chaque appuis intermédiaires.
                Ceci est en fonction des hauteurs, de l’ossature et du nombre de plaques choisies.
                La première ligne correspond aux fourrures, les suivantes aux montants  (simple " ] " ou double " ][ ").</p>
            <div id="card-table" class="card col-xl-12 col-md-12 col-sm-12 d-flex justify-content-center mb-5 py-4 px-3">       
                <table class="tabplaf" >                   
                    <thead>
                        <tr lass="tr-center">
                            <th colspan="8" width="358">Distance maxi entre les appuis intermediaires ( en mètre)</th>
                        </tr>
                        <tr class="tr-center">
                            <td colspan="7"><strong>DOUBLAGE</strong></td>
                        </tr>
                        <tr class="tr-center">
                            <th colspan="2" width=" 10%"><strong>Entre axe de 60</strong></th>
                            <td rowspan="2"width=" 10%">1 BA 13 ou 1BA 15</td>
                            <td width=" 10%">2 BA 13</td>
                            <td width=" 10%">3 BA 13</td>
                            <td width=" 10%">1 BA 18</td>
                            <td width=" 10%">2 BA 18</td>
                        </tr>
                    </thead>
                    <tbody>   
                        <tr class="tr-center">    
                        </tr> 
                        <tr class="tr-center">
                            <td colspan="2" rowspan="2" width=" 10%"><strong>Sur Fourrure Hmax 2.70m *</strong></td>
                            <td rowspan="2" width=" 10%">1,35</td>
                            <td rowspan="2" width=" 10%">1.35</td>
                            <td rowspan="2"width=" 10%"></td>
                            <td rowspan="2"width=" 10%">1.35</td>
                            <td rowspan="2"width=" 10%"></td>
                        </tr>
                        <tr class="tr-center">    
                        </tr>
                        <tr class="tr-center">
                            <td colspan="2" width=" 10%"><strong>Sur Montants</strong></td>
                            <td width=" 10%"></td>
                            <td width=" 10%"></td>
                            <td width=" 10%"></td>
                            <td width=" 10%"></td>
                            <td width=" 10%"></td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M48-35</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">2,00</td>
                            <td width=" 10%">2,30</td>
                            <td width=" 10%"></td>
                            <td width=" 10%">2,35</td>
                            <td width=" 10%"> 2,55</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M48-35</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">2,40</td>
                            <td width=" 10%">2,75</td>
                            <td width=" 10%">3,10</td>
                            <td width=" 10%">2,60</td>
                            <td width=" 10%">2,85</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M48-50</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">2,15</td>
                            <td width=" 10%">2,45</td>
                            <td width=" 10%">2,80</td>
                            <td width=" 10%">2,40</td>
                            <td width=" 10%">2,60</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M48-50</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">2,55</td>
                            <td width=" 10%">2,95</td>
                            <td width=" 10%">3,30</td>
                            <td width=" 10%">2,80</td>
                            <td width=" 10%">3,05</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M70-35</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">2,55</td>
                            <td width=" 10%">2,90</td>
                            <td width=" 10%">3,25</td>
                            <td width=" 10%">2,75</td>
                            <td width=" 10%">3,00</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M70-35</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">3,00</td>
                            <td width=" 10%">3,45</td>
                            <td width=" 10%">3,85</td>
                            <td width=" 10%">3,30</td>
                            <td width=" 10%">3,60</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M70-50</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">2,70</td>
                            <td width=" 10%">3,10</td>
                            <td width=" 10%">3,45</td>
                            <td width=" 10%">2,95</td>
                            <td width=" 10%">3,20</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M70-50</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">3,20</td>
                            <td width=" 10%">3,70</td>
                            <td width=" 10%">4,10</td>
                            <td width=" 10%">3,50</td>
                            <td width=" 10%">3,85</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M90-35</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">2,95</td>
                            <td width=" 10%">3,35</td>
                            <td width=" 10%">3,75</td>
                            <td width=" 10%">3,20</td>
                            <td width=" 10%">3,50</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M90-35</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">3,50</td>
                            <td width=" 10%">4,00</td>
                            <td width=" 10%">4,45</td>
                            <td width=" 10%">3,80</td>
                            <td width=" 10%">4,15</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M90-50</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">3,10</td>
                            <td width=" 10%">3,55</td>
                            <td width=" 10%">4,00</td>
                            <td width=" 10%">3,40</td>
                            <td width=" 10%">3,70</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M90-50</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">3,70</td>
                            <td width=" 10%">4,25</td>
                            <td width=" 10%">4,75</td>
                            <td width=" 10%">4,05</td>
                            <td width=" 10%">4,55</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M100-50</strong></td>
                            <td width=" 10%"> [</td>
                            <td width=" 10%">3,30</td>
                            <td width=" 10%">3,80</td>
                            <td width=" 10%">4,25</td>
                            <td width=" 10%">3,60</td>
                            <td width=" 10%">3,95</td>
                        </tr>
                        <tr class="tr-center">
                            <td width=" 10%"><strong>M100-50</strong></td>
                            <td width=" 10%"> ][</td>
                            <td width=" 10%">3,90</td>
                            <td width=" 10%">4,50</td>
                            <td width=" 10%">5,05</td>
                            <td width=" 10%">4,30</td>
                            <td width=" 10%">4,70</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bg-gris my-3 p-3" id="div-table">
                <p>* Hauteur de doublage sur fourrure : de 2,70 m à 4,50 m max.</p>
                    <div>
                        <ul>
                            <li>Un appui à 1,30 m du sol</li>
                            <li>Un appui à 1,30 m du plafond</li>
                            <li>Entre les deux appuis : 1,90 m</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gris my-3 p-3" id="div-table">                    
        <div class=" mb-4">
                    <h2 class="structure-subtitle px-4 py-4"><em>Cloisons</em></h2>
                    <p class="heading-text mb-5"> Choisissez les entraxes et montants adaptés selon la hauteur de vos cloisons.</p><br>                    
                <div id="card-table" class="card col-xl-12 col-md-12 col-sm-12 d-flex justify-content-center mb-5 py-4 px-3">       
                    <h3 class="structure-subtitle px-5 "><em>Cloisons simple parement</em></h3>
                    <p class="px-5 mb-4">Entraxes et montants recommandés pour vos cloisons simple peau.</p>
                    <table class="tabplaf">
                        <thead>
                            <tr class="tr-center">
                                <th colspan="7">Cloisons de distribution parements simples Ba13 et Ba15</th>
                            </tr>
                            <tr>
                                <th rowspan="3" scope="col">Type et epaisseur</th>
                                <th rowspan="3" scope="col">Type ossature</th>
                                <th rowspan="3" scope="col">Entraxe Montants</th>
                                <th colspan="2" >Hauteur maxi en m</th>
                                <th rowspan="3" scope="col">Nombres et Type de plaques</th>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="col">Montants simples</th>
                                <th rowspan="2" scope="col">Montants accolés</th>                            
                            </tr>
                        </thead>    
                            <tr>
                                <th>en mm</th>
                                <th></th>
                                <th>en cm</th>
                                <th>]</th>
                                <th>][</th>
                                <th></th>
                            </tr>
                        <tbody>
                            <tr>
                                <th rowspan="4">D72/48</th>
                                <td rowspan="2">48-35</th>
                                <td>60</td>
                                <td>2,50</td>
                                <td>3,00</td>
                                <td rowspan="4" colspan="2">2 Ba13</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>2,80</td>
                                <td>3,30</td>
                            </tr>
                            <tr>
                                <td rowspan="2">48-50</th>
                                <td>60</td>
                                <td>2,70</td>
                                <td>3,15</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>2,95</td>
                                <td>3,50</td>
                            </tr>
                            <tr>
                                <th rowspan="4">D100/70</th>
                                <td rowspan="2">70-35</th>
                                <td>60</td>
                                <td>3,15</td>
                                <td>3,75</td>
                                <td rowspan="4">2 Ba15</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>3,50</td>
                                <td>4,15</td>
                            </tr>
                            <tr>
                                <td rowspan="2">70-50</th>
                                <td>60</td>
                                <td>3,30</td>
                                <td>3,95</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>3,70</td>
                                <td>4,40</td>
                            </tr>
                            <tr>
                                <th rowspan="4">D120/90</th>
                                <td rowspan="2">90-35</th>
                                <td>60</td>
                                <td>3,65</td>
                                <td>4,30</td>
                                <td rowspan="4">2 Ba15</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,00</td>
                                <td>4,80</td>
                            </tr>
                            <tr>
                                <td rowspan="2">90-50</th>
                                <td>60</td>
                                <td>3,85</td>
                                <td>4,55</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,25</td>
                                <td>5,10</td>
                            </tr>
                            <tr>
                                <th rowspan="2">D130/100</th>
                                <td rowspan="2">100-50</th>
                                <td>60</td>
                                <td>4,05</td>
                                <td>4,90</td>
                                <td rowspan="2">2 Ba15</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,50</td>
                                <td>5,35</td>
                            </tr>              
                        </tbody>       
                    </table> <br><br>
                <h3 class="structure-subtitle px-5 "><em>Cloisons double parement</em></h3>
                <p class="px-5 mb-4">Entraxes et montants conseillés pour les cloisons double peau.</p>               
                    <table class="tabplaf">
                        <thead>
                            <tr class="tr-center">
                                <th colspan="7">Cloisons de distribution parements doubles Ba13 </th>
                            </tr>
                            <tr>
                                <th rowspan="3" scope="col">Type et epaisseur</th>
                                <th rowspan="3" scope="col">Type ossature</th>
                                <th rowspan="3" scope="col">Entraxe Montants</th>
                                <th colspan="2" >Hauteur maxi en m</th>
                                <th rowspan="3" scope="col">Nombres et Type de plaques</th>
                            </tr>
                            <tr>
                                <th rowspan="2" scope="col">Montants simples</th>
                                <th rowspan="2" scope="col">Montants accolés</th>                            
                            </tr>
                        </thead>    
                            <tr>
                                <th>en mm</th>
                                <th></th>
                                <th>en cm</th>
                                <th>]</th>
                                <th>][</th>
                                <th></th>
                            </tr>                    
                        <tbody>
                            <tr>
                                <th rowspan="4">D98/48</th>
                                <td rowspan="2">48-35</th>
                                <td>60</td>
                                <td>3,00</td>
                                <td>3,60</td>
                                <td rowspan="4" colspan="2">4 Ba13</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>3,30</td>
                                <td>4,00</td>
                            </tr>
                            <tr>
                                <td rowspan="2">48-50</th>
                                <td>60</td>
                                <td>3,20</td>
                                <td>3,80</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>3,55</td>
                                <td>4,20</td>
                            </tr>
                            <tr>
                                <th rowspan="4">D120/70</th>
                                <td rowspan="2">70-35</th>
                                <td>60</td>
                                <td>3,75</td>
                                <td>4,50</td>
                                <td rowspan="4">4 Ba13</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,15</td>
                                <td>4,95</td>
                            </tr>
                            <tr>
                                <td rowspan="2">70-50</th>
                                <td>60</td>
                                <td>4,00</td>
                                <td>4,75</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,40</td>
                                <td>5,25</td>
                            </tr>
                            <tr>
                                <th rowspan="4">D140/90</th>
                                <td rowspan="2">90-35</th>
                                <td>60</td>
                                <td>4,35</td>
                                <td>5,20</td>
                                <td rowspan="4">4 Ba13</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>4,85</td>
                                <td>5,75</td>
                            </tr>
                            <tr>
                                <td rowspan="2">90-50</th>
                                <td>60</td>
                                <td>4,60</td>
                                <td>5,50</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>5,10</td>
                                <td>6,05</td>
                            </tr>
                            <tr>
                                <th rowspan="2">D150/100</th>
                                <td rowspan="2">100-50</th>
                                <td>60</td>
                                <td>4,90</td>
                                <td>5,80</td>
                                <td rowspan="2">4 Ba13</td>
                            </tr>
                            <tr>   
                                <td>40</td>
                                <td>5,40</td>
                                <td>6,45</td>
                            </tr>              
                        </tbody>       
                    </table>
                </div>
        </div>
    </div>
    {#------exemple de tablaux----------
                <!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Tableau avec scope</title>
  <style>
    table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px auto;
      /*font-family: Arial, sans-serif;*/
    }
    th, td {
      border: 1px solid #999;
      padding: 12px;
      text-align: center;
    }
    thead {
      background-color: #f0f0f0;
    }
    th[scope="row"] {
      background-color:rgb(249, 249, 249);
      font-weight: bold;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th></th>
        <th scope="col">Maths</th>
        <th scope="col">Physique</th>
        <th scope="col">Chimie</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Alice</th>
        <td>15</td>
        <td>17</td>
        <td>14</td>
      </tr>
      <tr>
        <th scope="row">Bob</th>
        <td>12</td>
        <td>18</td>
        <td>16</td>
      </tr>
      <tr>
        <th scope="row">Claire</th>
        <td>19</td>
        <td>16</td>
        <td>17</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
-------------------------------------------------------------------#}
                           
</main>
{% endblock %}
