{% extends 'base.html.twig' %}

{% block title %}Hello LexicController!{% endblock %}

{% block body %}
<main class="cloi">
    <h1 class="heading-2 text-center mt-3">Lexique</h1><br>
        <p class="heading-text mb-5" >Cette section est ici pour vous aider à clarifier certains termes que vous pourriez rencontrer sur notre site.
         Si un mot ou une expression vous semble flou ou inconnu, vous y trouverez des explications simples pour mieux comprendre les informations présentées.</p><br>
    <div class="bg-gris">
        <div class="container">
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Angle saillant:</h5>
            <p class="p-3 pt-1">Angle sortant, lors de la réalisation de vos doublages ou cloisons. Il est nécessaire de les dénombrer car il faudra une bande armée 
            lors du traitement des joints.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">BA:</h5>
            <p class="p-3 pt-1">Bord aminci, présent sur toutes les plaques. Le nombre suivant BA 13, par exemple correspond à l’épaisseur de la plaque. Ici 13 est égale à 13 mm.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Cloison alvéolaire :</h5>
            <p class="p-3 pt-1">Cloison en panneaux préfabriqués, constitues de deux plaque solidarisées par encollage sur un réseau à maille hexagonale.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Entraxe:</h5>
            <p class="p-3 pt-1">Distance entre deux axes.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Fourrure: </h5>
            <p class="p-3 pt-1">Profilé métallique destine à la réalisation de l’ossature, principalement utilisé pour les plafonds mais aussi pour les doublages.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Montant:</h5>
            <p class="p-3 pt-1">Profilé métallique destine à la réalisation de l’ossature des cloisons et des doublages, plus rarement pour les plafonds.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Ossature:</h5>
            <p class="p-3 pt-1">Ensemble résistant destiné a soutenir les plaques de plâtre. Elle est constituée de fourrure ou de montant.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Plénum: </h5>
            <p class="p-3 pt-1">C’est l’espace entre la dalle, la charpente ou votre plancher hourdi actuel et votre futur plafond fini.</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Mot :</h5>
            <p class="p-3 pt-1">Définition</p>
        </div>
        <div class="my-4 p-1 bg-white rounded-3">
            <h5 class="px-3 pt-3">Mot :</h5>
            <p class="p-3 pt-1">Définition</p>
        </div>        
    </div>
</main>
{% endblock %}
